<h1>Editing my_test_scaffold</h1>

<%= render 'form' %>
<div class="actions">
  <input type="button" onclick="formSubmit('edit_my_test_scaffold_<%= @my_test_scaffold.id %>')" value="Update a book">
</div>

<%= link_to 'Show', @my_test_scaffold %> |
<%= link_to 'Back', my_test_scaffolds_path %>
