<h1>New my_test_scaffold</h1>

<%= render 'form' %>
<div class="actions">
  <input type="button" onclick="formSubmit('new_my_test_scaffold')" value="Create a book">
</div>

<%= link_to 'Back', my_test_scaffolds_path %>
