<!--
  It's a partial template. Filename is _var_name.html.erb, so we can use var_name inside it.
-->
  <% if shop_item == @current_shop_item %>
    <tr id="current_shop_item">
  <% else %>
    <tr>
  <% end %>
      <td><%= shop_item.quantity %>&times;</td>
      <td><%= shop_item.my_test_scaffold.title %></td>
      <td class="shop_item_price"><%= number_to_currency shop_item.my_test_scaffold.price %></td>

    </tr>
