html, body, #map_canvas {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 800px;
}

#from_address_label, #to_address_label {
  font-size: 12pt;
  vertical-align: middle;
}

#to_address, #from_address {
  height: 21px;
  font-size: 16pt;
  color: #666;
  padding-left: 3px;
}

#show_button, #show_directions_button {
  height: 27px;
  width: 140px;
  font-size: 12pt;
  border:1px solid;
}

dl {
}
dl dt {
  float: left;
  width: 120px;
  height: 35px;
}
dl dd {
  height: 35px;
}
