<h1>New car</h1>

Initial status:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;stopped<br/>
<%= render 'form' %>
<br/>
<%= link_to 'Back', cars_path %>
